.header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header-top {
  padding: 20px 10px 15px;
  background: #f72210;
}

.header-date {
  color: white;
  font-size: 16px;
  font-weight: 400px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 34px;
  padding-left: 20px;
}

.header-logo {
  cursor: pointer;
}

.header-logo svg {
  fill: white;
}

.header-login-subscribe {
  padding-right: 15px;
}

.header-links {
  font-size: 19px;
  font-weight: 700;
}

.categories-first {
  border-left-width: 0px;
}

.header-links-categories ul {
  margin-bottom: 0px;
}

.header-links-categories ul li a {
  color: black;
  text-decoration: none;
}

.header-links-categories ul li a:hover,
.header-links-categories ul li a:focus {
  color: #f72210;
}

.header-links-trending {
  padding: 14px 0px 14px;
  margin-top: 13px;
  border-top: 2px solid rgb(244, 245, 247);
  border-bottom: 2px solid rgb(244, 245, 247);
}

.header-links-trending ul {
  font-size: 17px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 0px;
}

.header-links-trending ul li:first-child a {
  color: black;
}

.header-links-trending ul li:first-child a:hover,
.header-links-trending ul li:first-child a:focus {
  color: black;
  cursor: text;
}

.header-links-trending ul li a {
  color: #807f84;
  text-decoration: none;
}

.header-links-trending ul li a:hover,
.header-links-trending ul li a:focus {
  color: #f72210;
}

.footer-content {
  margin-top: 220px;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content-main {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.news-link svg {
  width: 236px;
  height: 36px;
  fill: #f72210;
}
.footer-copyright-text {
  font-family: 'Arial','Helvetica',sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
}
.socialmedia-icon {
  color: #666;
  font-size: 24px;
  line-height: 30px;
}
.color-black {
  color: black;
}
