body {
  overflow-x: hidden;
}

.datediv {
  width: 40vh;
}

.header-top {
  padding-bottom: 20px;
  background: #f72210;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header-date {
  color: white;
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 34px;
  padding-left: 20px;
}

.header-logo {
  cursor: pointer;
  width: 106px;
}

.header-logo svg {
  fill: white;
}

.header-login-subscribe {
  padding-right: 15px;
}

.btn-yellow {
  background-color: #ffe400;
}

.header-links {
  margin-top: 85px;
  font-size: 19px;
  font-weight: 700;
}

.categories-first {
  border-left-width: 0;
}

.header-links-categories ul {
  margin-bottom: 0;
}

.header-links-trending ul li a {
  color: #807f84;
  text-decoration: none;
}

.header-links-categories ul li a:hover,
.header-links-categories ul li a:focus {
  color: #f72210;
}

.header-links-trending {
  padding: 14px 0 14px;
  margin-top: 4px;
  border-top: 2px solid rgb(244, 245, 247);
  border-bottom: 2px solid rgb(244, 245, 247);
}

.header-links-trending ul {
  font-size: 17px;
  font-size: 16px;
  line-height: 16px;
}

.colwrap {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .colwrap {
    padding-top: 9vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .colwrap {
    padding-top: 11vh;
  }
}

@media screen and (min-width: 992px) {
  .header-top {
    padding: 20px 10px 15px;
  }

  .header-logo {
    width: 396px;
  }

  .col-right {
    width: 29%;
  }

  .col-left {
    width: 71%;
  }
}

.col-right {
  height: 500px;
}

.col-right .col-left {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-content {
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content-main {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.news-link svg {
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.footer-copyright-text {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
}

.socialmedia-icon {
  color: #666;
  font-size: 24px;
  line-height: 30px;
}

.vs {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  margin: 6px auto;
}

.top5-spam {
  max-width: 90%;
  margin-left: 1.5vh;
}
