body {
  overflow-x: hidden;
}

.datediv {
  width: 40vh;
}

.text-red {
  color: #f72210;
}

.bg-red {
  background-color: #f72210;
}

.header-top {
  padding-bottom: 20px;
  background: #f72210;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
}

.header-date {
  font-size: 16px;
  font-weight: 400;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 34px;
  padding-left: 20px;
}

.header-logo {
  cursor: pointer;
  width: 106px;
}

.header-logo svg {
  fill: white;
}

.header-login-subscribe {
  padding-right: 15px;
}

.btn-yellow {
  background-color: #ffe400;
}

.header-links {
  margin-top: 85px;
  font-size: 19px;
}

.categories-first {
  border-left-width: 0;
}

.header-links-trending {
  padding: 14px 0 14px;
  margin-top: 4px;
  border-top: 2px solid rgb(244, 245, 247);
  border-bottom: 2px solid rgb(244, 245, 247);
}

.header-links-trending ul {
  font-size: 17px;
  font-size: 16px;
  line-height: 16px;
}

.colwrap {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .colwrap {
    padding-top: 9vh;
  }

  .newsletter-spam-img {
    height: 170px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .colwrap {
    padding-top: 11vh;
  }
}

@media screen and (min-width: 992px) {
  .header-top {
    padding: 20px 10px 15px;
  }

  .header-logo {
    width: 396px;
  }

  .col-right {
    width: 29%;
  }

  .col-left {
    width: 71%;
  }
}

.col-right .col-left {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.footer-content {
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-content-main {
  background-color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}

.news-link svg {
  width: 236px;
  height: 36px;
  fill: #f72210;
}

.footer-copyright-text {
  font-family: 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #666;
}

.socialmedia-icon {
  color: #666;
  font-size: 24px;
  line-height: 30px;
}

.vs {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-align: center;
  margin: 6px auto;
}

.top5-spam {
  max-width: 90%;
  margin-left: 1.5vh;
}

.bottom-section {
  margin-top: 30px;
}

.bottom-section-title {
  font-size: 19px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 19px;
  margin-bottom: 15px;
  border-bottom: solid 1px rgb(217, 217, 217);
}

.bottom-section-title .title-icon {
  flex: none;
  display: block;
  width: 29px;
  height: 28px;
  background: url(../img/newsweek-n-logo.svg) center/contain no-repeat #f72210;
  margin-right: 10px;
}

.magazine-first-row {
  align-items: flex-end;
}

.article-category .category {
  font-size: 16px;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 26px;
}

.article-category .left {
  background-color: #f72210;
  color: white;
  margin-right: 6px;
}

.article-category .right {
  color: #f72210;
  margin-right: 6px;
}

.newspaper-section-title {
  border-top: solid 1px rgb(217, 217, 217);
}

.newsletter-spam-img {
  background: url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5") center center / cover no-repeat;
}
